# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

# Build files
build/
dist/

# VS Code
.vscode/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Generated Artifacts
artifacts/

# Model files
*.pkl

# Python cache
.pytest_cache/
.mypy_cache/